<div class="left-menu">
  <ul class="navbar-left panel-group" id="accordion">
    <li class="nav-item panel">
      <a href="javascript:void(0)" [ngClass]="{'active':_router.url==='/user/home'}" routerLink="/user/home"
         class="nav-link active" title="landing-page">
        <i class="fa fa-arrow-left"></i>
        <span class="nav-name">Home</span>
      </a>
    </li>
    <li class="nav-item panel">
      <a href="javascript:void(0)" [ngClass]="{'active':_router.url==='/user/user-list'}" routerLink="/user/user-list"
         class="nav-link active" title="landing-page">
        <i class="fa fa-arrow-left"></i>
        <span class="nav-name">Users </span>
      </a>
    </li>
  </ul>
</div>


